body {
  background-color: #f5f7fa;
  font-family: 'Roboto', sans-serif;
}
.page-header {
  margin: 20px 20px 20px 20px;
}
.page-title {
  float: left;
  font-size: 30px;
  color: #4a89dc;
}

.navbaritem {
  text-align: center;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 20px 20px 20px 20px;
}

.fa {
  padding: 20px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  color: #4a89dc;
  height: 20px;
}
.my-info {
  border: 1px solid wheat;
  clear: both;
  background-color: #4a89dc;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transform: scale(0.8);
}
.my-info::after {
  content: '';
  display: block;
  clear: both;
}
.my-info:hover {
  transform: scale(1);
}

.role {
  color: white;
  font-weight: lighter;
}
.about-me {
  color: white;
  font-weight: lighter;
}
.professional {
  clear: both;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transform: scale(0.8);
}
.professional:hover {
  transform: scale(1);
}

.image-container {
  width: 25%;
}
.text-container {
  width: 60%;
  margin-left: 20%;
}
img {
  clear: both;
  width: 100px;
  height: 100px;
  float: left;
  clear: both;
  padding: 2rem;
}

p {
  text-align: center;
}

.name {
  font-weight: bolder;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: xx-large;
  text-align: center;
}
hr {
  align-items: center;
  color: #4a89dc;
}

.prof-skills {
  color: #4a89dc;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.professional-info {
  padding: 20px;
}

.education {
  clear: both;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transform: scale(0.8);
}
.education::after {
  content: '';
  display: block;
  clear: both;
}
.education:hover {
  transform: scale(1);
}
.education-label {
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #4a89dc;
}
.education-info {
  padding: 20px;
}
.list-item {
  margin-bottom: 20px;
  color: #4a89dc;
}
.language {
  clear: both;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  transform: scale(0.8);
}
.language-info {
  padding: 20px;
}
.language-detail {
  padding: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
  color: #4a89dc;
}
.language:hover {
  transform: scale(1);
}
