main {
  max-width: 1280px;
  margin: 0 auto;
}
section {
  width: 100%;
}
ul {
  padding-inline-start: 0;
}
body {
  background-color: #ffb1003b;
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}
header,
h2 {
  text-align: center;
  color: aliceblue;
  background-color: brown;
  border-radius: 15px;
}
h3 {
  background-color: white;
}

.grid-item img {
  max-width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;
  background-color: white;
}
p {
  font-family: inherit;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 1rem;
}
/* Grid using element id #grid-flex */
/* Styling for tab desktop or big screen */
#grid-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  justify-content: space-between;
}
#grid-flex .grid-item {
  flex-basis: 23%;
  background-color: brown;
  text-align: center;
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
#grid-flex .grid-item:nth-child(1) {
  flex-basis: 49%;
  background-color: brown;
}

/* Styling for tab device */
@media screen and (min-width: 481px) and (max-width: 768px) {
  #grid-flex .grid-item {
    /* flex: 0 1 18rem; */
    flex-basis: 29.33%;
  }
  #grid-flex .grid-item:nth-child(1) {
    flex-basis: 47%;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
    background-color: aliceblue;
  }
  #grid-flex .grid-item:nth-child(2) {
    flex-basis: 47%;
    background-color: aliceblue;
  }
}
/*Styling for mobile device*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  #grid-flex {
    flex-direction: row;
  }
  #grid-flex .grid-item {
    flex-basis: 45%;
  }
  #grid-flex .grid-item:nth-child(1) {
    flex-basis: 100%;
    background-color: aliceblue;
  }
}

/* Grid using element id #grid-floats */
#grid-floats {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 10px;
  list-style-type: none;
}

#grid-floats .grid-item {
  max-width: 100%;
  border-radius: 15px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  text-align: center;
  background-color: brown;
  grid-column: span 2;
}
#grid-floats :first-child {
  grid-column: span 4;
  background-color: aliceblue;
}

/* Styling for tab device */
@media screen and (min-width: 481px) and (max-width: 768px) {
  #grid-floats {
    grid-template-columns: repeat(6, 1fr);
  }
  #grid-floats :first-child {
    grid-column: span 3;
    background-color: aliceblue;
  }
  #grid-floats :nth-child(2) {
    grid-column: span 3;
    background-color: aliceblue;
  }
  #grid-floats :nth-child(n + 3) {
    grid-column: span 2;
  }
}
/*Styling for mobile device*/
@media screen and (min-width: 320px) and (max-width: 480px) {
  #grid-floats {
    grid-template-columns: repeat(2, 1fr);
  }
  #grid-floats .grid-item {
    grid-column: span 1;
  }
  #grid-floats :first-child {
    grid-column: span 2;
    background-color: aliceblue;
  }
}
